export(S5)
export(SSS)
export(result)
export(hyper_par)
export(ind_fun_g)
export(ind_fun_pimom)
export(ind_fun_pemom)
export(obj_fun_g)
export(obj_fun_pimom)
export(obj_fun_pemom)
export(result_est_MAP)
export(result_est_LS)
export(Uniform)
export(Bernoulli_Uniform)
export(S5_parallel)
importFrom(Matrix,crossprod)
importFrom(Matrix,Matrix)
importFrom(abind,abind)
importFrom(stats,optim)
importFrom(stats,cor)
importFrom(snowfall,sfLapply)
importFrom("stats", "approxfun", "density", "integrate", "nlm","runif", "sd", "uniroot")
